<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>com.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientServlet</servlet-name>
        <servlet-class>com.patientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>surgeryServlet</servlet-name>
        <servlet-class>com.surgeryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorServlet</servlet-name>
        <servlet-class>com.doctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAppointmentServlet</servlet-name>
        <servlet-class>com.adminAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminadddoctorServlet</servlet-name>
        <servlet-class>com.adminadddoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminaddpatientServlet</servlet-name>
        <servlet-class>com.adminaddpatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateLoginPat</servlet-name>
        <servlet-class>com.validateLoginPat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateLoginDoc</servlet-name>
        <servlet-class>com.ValidateLoginDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateLoginNur</servlet-name>
        <servlet-class>com.ValidateLoginNur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateLoginAdmin</servlet-name>
        <servlet-class>com.ValidateLoginAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminaddpatientServlet</servlet-name>
        <url-pattern>/AddPat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateLoginDoc</servlet-name>
        <url-pattern>/ValloginDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateLoginNur</servlet-name>
        <url-pattern>/ValloginNur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateLoginAdmin</servlet-name>
        <url-pattern>/ValloginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateLoginPat</servlet-name>
        <url-pattern>/ValloginPat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAppointmentServlet</servlet-name>
        <url-pattern>/AppointAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientServlet</servlet-name>
        <url-pattern>/PatientDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/RegisterDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorServlet</servlet-name>
        <url-pattern>/DocDash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>surgeryServlet</servlet-name>
        <url-pattern>/SurgeryDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminadddoctorServlet</servlet-name>
        <url-pattern>/adminadddoc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
</web-app>
